body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------------navbar style  start--------------- */
.navbar{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding: 12px 0px;
}
.navbar h3 a{
    font-size: 28px;
    text-decoration: none;
    color: rgb(90, 75, 75);

}
.logo-color{
    color: #fd482d;
}
.navbar-menu{
    margin-left: auto;
}
.navbar-nav{
    display: flex;
}
.navbar-item{
    list-style: none;
    margin: 0px 20px;
}
.navbar-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    
}
/* ------------navbar style end---------------  */


/* ------------banner style start---------------  */
.banner-section{
    display: flex;
}
.banner-width{
    width: 50%;
    margin-left: 6%;
    padding-right: 20px;
    margin-top: 60px;
}
.banner-title{
    font-size: 52px;
    font-weight: 700;
    color: rgb(90, 75, 75);
}
.orange-color{
    color: #FB964B;
}
.button-link{
    text-decoration: none;
    background: linear-gradient(90deg, #FB964B, #FD492D);
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    
}
.banner-para{
    font-size: 17px;
    color:rgb(177, 166, 166);
    font-weight: 600;
    margin-bottom: 60px;
}
.banner-img{
    width: 90%;
}
/* ------------banne style end--------------- */


/* ------------About style start---------------  */

.about-section{
    display: flex;
    background-image: url(images/shapes/7.png);
    margin-top: 100px;
    padding: 50px 0px;

}
.about-width{
    width: 40%;
    margin-left: 10%;
    
    
}
#about-left{
    text-align: center;
}#about-right{
    padding-right: 100px;
}
.about-img{
    width: 65%;
}
.about-title{
    font-size: 35px;
    font-weight: 600;
    color: #5A4B4B;
}
.about-para{
    color: rgb(80, 78, 78);
    font-weight: 500;
    margin-bottom: 80px;
    line-height: 30px;
    font-size: 17px;
}
/* ------------about style end--------------- */

/* ------------Recipies style start---------------*/
.recipies-section{
    margin-top: 50px;

}
.top-header-recipies, .top-header-service{
    text-align: center;
    padding: 0px 300px 0px 300px ;
}
.recipies-heading, .service-heading{
    font-size: 35px;
    font-weight: 600;
    color: #5A4B4B;
}


.recipies-area{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin: 50px;
   
}
.recipies-item{
    width: 30%;
    margin: 0px 20px;
    padding: 10px;
    /* box-shadow:5px 10px 30px rgba(5, 4, 12, 0.205); */
    box-shadow:5px 10px 30px rgba(81, 75, 119, 0.205);
    border-radius: 25px;
}
.recipies-img{
    text-align: center;
}
.recipies-img img{
    width:94%;
    padding: 10px;
}
.recipies-body{
    padding: 0px 10px 10px 10px;
}
.recipies-para, .service-para{
    color: rgb(80, 78, 78);
    font-weight: 500;
    line-height: 30px;
    font-size: 17px;   
}
/* ------------recipies style end --------------- */


/* ------------count stye start--------------- */
.count-section{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:5px 10px 30px rgba(81, 75, 119, 0.205);
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 35px 0px;
}
.count-item{
    width: 33%;
    text-align: center;
}
.count-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.count-para{
    color: rgb(80, 78, 78);
    font-size: 17px;
}
/* ------------count style end --------------- */


/* ------------service style  start---------------*/
.service-area{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.service-item{
    width: 30%;
    margin: 0px 20px;
    padding: 25px 20px 40px 20px;
    /* box-shadow:5px 10px 30px rgba(5, 4, 12, 0.205); */
    box-shadow:5px 10px 30px rgba(81, 75, 119, 0.205);
    border-radius: 15px;
    text-align: center;
}
.service-title{
    font-size: 24px;
    font-weight: 600;
}
.service-para{
    margin-bottom: 40px;
}
.read-btn, .login-btn{
    text-decoration: none;
    background: linear-gradient(90deg, #FB964B, #FD492D);
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}
/* ------------service style  end---------------*/


/* ------------Footer style start--------------- */
.footer-section{
    background-color: black;
    color: white;
    padding: 25px 100px;
    margin-top: 100px;
    text-align: center;

}
.gray-color{
    color: gray;
}
.footer-section h1{
    font-size: 32px;
    font-weight: 600;
}
.footer-section p{
    color: rgb(199, 193, 193);
    font-size: 16px;
}
/* ------------Footer style end--------------- */

